.footer
  =image_tag "uemuralogo.png", class: "footer__rogo"
  .details-box
    %p.number 03-5668-9494
    %p 東京都 江戸川区 南小岩 7-25-12
    %p Open 16:30～24:00 (L.O.23:30)
  .footer_nav
    %p
      =link_to root_path do
        TOP
    %p
      =link_to pages_menu_path do
        おしながき
    %p
      =link_to pages_pride_path do
        こだわり
    %p
      =link_to pages_contact_path do
        アクセス
    %p
      =link_to "#" do
        ご予約