.header#header
  = link_to root_path do
    =image_tag "uemuralogo.png", class: "header__rogo"
  .header__nav
    %p
      =link_to root_path,class: "header__nav--home" do
        TOP
    %p
      =link_to pages_menu_path,class: "header__nav--menu" do
        おしながき
    %p
      =link_to pages_pride_path,class: "header__nav--concept" do
        こだわり
    %p
      =link_to pages_contact_path,class: "header__nav--access" do
        アクセス
    %p
      =link_to "#",class: "header__nav--reservation" do
        工事中