.top_container#top_container.top_container__home
  = render "shared/header"
.main_container
  .introduction_container
    .introduction_container__image
    .introduction_container__text
      %h1
        植むらの本格もつ焼き
      .block
      %h3
        (test)鶏・豚串は全て『国産』のものを使用しております。特製秘伝の【醤油ダレ】【青唐辛子味噌】につけてお召し上がりいただきます。全卓保温器を設置！いつまでも温かキープ♪大トロ牛もつ焼き串、中落カルビ串は他では味わえません！串以外のメニューも豊富♪チキン南蛮、ホルモン・馬料理、半熟卵揚げた「からたま」は推しです。(test)
  .video_container
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "100%", :src => "https://www.youtube.com/embed/f0wbnQw89J0", :width => "80%"}
  .photo_container
    .sliderArea
      .full-screen.slider
        %div
          =image_tag "uemuradish1.png"
        %div
          =image_tag "uemuradish2.png"
        %div
          =image_tag "uemuradish3.png"
        %div
          =image_tag "uemuradish4.png"
        %div
          =image_tag "uemuradish5.png"
    %p._a
      %a.link{:href => "https://125naroom.com/demo/slick.html#s_10", :target => "_blank"}
= render "shared/footer"
= render "shared/back-to-top-button"