.top_container
  .header
    .header__rogo
      %p.shop_name.shop_name__sub もつ焼き
      %p.shop_name.shop_name__main 植むら
    .header__nav
      %p
        =link_to "#",class: "header__nav--home" do
          Home
      %p
        =link_to "#",class: "header__nav--menu" do
          お品書き
      %p
        =link_to "#",class: "header__nav--concept" do
          こだわり
      %p
        =link_to "#",class: "header__nav--access" do
          アクセス
.main_container
  .introduction_container
    .introduction_container__image
    .introduction_container__text
      %h1
        植むらの本格もつ焼き
      .block
      %h3
        (test)鶏・豚串は全て『国産』のものを使用しております。特製秘伝の【醤油ダレ】【青唐辛子味噌】につけてお召し上がりいただきます。全卓保温器を設置！いつまでも温かキープ♪大トロ牛もつ焼き串、中落カルビ串は他では味わえません！串以外のメニューも豊富♪チキン南蛮、ホルモン・馬料理、半熟卵揚げた「からたま」は推しです。(test)
  .nav_container
    .link_box
    .link_box
    .link_box
.footer