.top_container#top_container.top_container__home
  = render "shared/header"
  .image-wrapper
    =image_tag "uemuragallery.png"
  .page-title
    ギャラリー
  =image_tag "fude_sen.png", class: "fude-sen"
  .gallery-container
    =image_tag "food_abura.jpg", class: "food-image"
    =image_tag "food_abura.jpg", class: "food-image"
    =image_tag "food_abura.jpg", class: "food-image"
    =image_tag "food_abura.jpg", class: "food-image"
    =image_tag "food_abura.jpg", class: "food-image"
= render "shared/footer"
= render "shared/back-to-top-button"