.top_container#top_container.top_container__home
  = render "shared/header"
  .image-wrapper
    =image_tag "uemuragallery.png"
  .page-title
    ギャラリー
  =image_tag "fude_sen.png", class: "fude-sen"
  .gallery-container
    =image_tag "main_image.jpg", class: "food-image"
    =image_tag "shop_inside1.jpg", class: "food-image"
    =image_tag "food_meibutu.jpg", class: "food-image"
    =image_tag "food_tanabura.jpg", class: "food-image"
    =image_tag "food_pi-toro.jpg", class: "food-image"
    =image_tag "food_tan.jpg", class: "food-image"
    =image_tag "food_negitanshio.jpg", class: "food-image"
    =image_tag "food_yasaikushi.jpg", class: "food-image"
    =image_tag "food_gatsusashi.jpg", class: "food-image"
    =image_tag "food_horumonyaki.jpg", class: "food-image"
    =image_tag "food_sashi.jpg", class: "food-image"
    =image_tag "food_onisuranattou.jpg", class: "food-image"
    =image_tag "food_abura.jpg", class: "food-image"
    =image_tag "food_atsuagenattou.jpg", class: "food-image"
    =image_tag "food_torikushikatsu.jpg", class: "food-image"
    =image_tag "food_uinna-age.jpg", class: "food-image"
    =image_tag "shop_inside1.jpg", class: "food-image"
= render "shared/footer"
= render "shared/back-to-top-button"