.top_container#top_container
  = render "shared/header"
  .image-wrapper
    =image_tag "uemuramenu.png", class: "inside-image"
.paper-background
  .details-container
    .menu-title
      Menu
    .box-wrapper
      .List-box
        .list-title
          串焼き
        .item-box
          %p 名物満満焼
          %p 140yen
        .item-box
          %p ハラミ塩こうじ焼
          %p 140yen
        .item-box
          %p ホルモン焼
          %p 140yen
        .item-box
          %p ピートロ
          %p 140yen
        .item-box
          %p ネギタン塩
          %p 140yen
        .item-box
          %p タン油
          %p 140yen
        .item-box
          %p タン
          %p 120yen
        .item-box
          %p ハツ
          %p 120yen
        .item-box
          %p かしら
          %p 120yen
        .item-box
          %p なんこつ
          %p 140yen
        .item-box
          %p 
          %p 0yen
        .item-box
          %p 
          %p 0yen
        .item-box
          %p 
          %p 0yen
        .item-box
          %p 
          %p 0yen
      .List-box
        .list-title
          野菜串
        .item-box
          %p ぎんなん焼
          %p 0yen
        .item-box
          %p しいたけ焼
          %p 0yen
        .item-box
          %p 長ねぎ焼
          %p 0yen
        .item-box
          %p ししとう焼
          %p 0yen
        .item-box
          %p ニンニク焼
          %p 0yen
        .list-title
          小皿
        .item-box
          %p 
          %p 0yen
        .item-box
          %p 
          %p 0yen
        .item-box
          %p 
          %p 0yen
        .item-box
          %p 
          %p 0yen