.top_container#top_container
  = render "shared/header"
  .image-wrapper
    =image_tag "uemurapride.png"
  .page-title
    植むらのこだわり
  =image_tag "fude_sen.png", class: "fude-sen"
  .introduction_container
    .introduction_container__image
      =image_tag "motuyaki_sozai.png", class: "motuyaki_sozai"
    .introduction_container__text
      %h1
        植むらの本格もつ焼き
      .block
      %h3
        (test)鶏・豚串は全て『国産』のものを使用しております。特製秘伝の【醤油ダレ】【青唐辛子味噌】につけてお召し上がりいただきます。全卓保温器を設置！いつまでも温かキープ♪大トロ牛もつ焼き串、中落カルビ串は他では味わえません！串以外のメニューも豊富♪チキン南蛮、ホルモン・馬料理、半熟卵揚げた「からたま」は推しです。(test)
  =image_tag "motuyaki_sozai.png", class: "motuyaki_sozai-sd"
= render "shared/footer"
= render "shared/back-to-top-button"