.top_container#top_container
  = render "shared/header"
  .image-wrapper
    =image_tag "uemurapride.png"
  .page-title
    こだわり
  =image_tag "fude_sen.png", class: "fude-sen"
  .introduction_container
    .introduction_container__image
      =image_tag "motuyaki_sozai.png", class: "motuyaki_sozai"
    .introduction_container__text
      %h1
        お店紹介
      .block
      %h3
        当店は、どこの街にも必ず1軒はある様な、どなたでも気軽に入れる価格で料理を提供している赤提灯が目印のもつ焼き屋です。
        %br
        当店の串焼きは全て自分達で心を込めて仕込みをしております。
        %br
        修行時代に教わったスタンダードメニューの串焼きの他に、ネギをたっぷりと乗せたネギタン塩、塩麹で一晩漬け込んだハラミ塩麹焼など、他の店に有りそうで無い当店独自の串焼きもご用意しています。流行りの料理はございませんが串焼きは他店に負けない品を出しているとの自信があります。店内のホワイトボードには栄養のバランスを考えて野菜を摂って頂ける小鉢などもご用意しています。当店自慢の串焼きを食べてみたいと思った方は、是非一度足をお運び下さい。皆様のお越しを従業員一同心よりお待ちしております。
        %br
        店主
  =image_tag "motuyaki_sozai.png", class: "motuyaki_sozai-sd"
= render "shared/footer"
= render "shared/back-to-top-button"