.top_container#top_container
  = render "shared/header"
  .image-wrapper
    =image_tag "uemurapride.png"
.top_container
  .paper-background
    .details-container
      .pride-title
        植むらのこだわり
      .pride-text
        (test)鶏・豚串は全て『国産』のものを使用しております。特製秘伝の【醤油ダレ】【青唐辛子味噌】につけてお召し上がりいただきます。全卓保温器を設置！いつまでも温かキープ♪大トロ牛もつ焼き串、中落カルビ串は他では味わえません！串以外のメニューも豊富♪チキン南蛮、ホルモン・馬料理、半熟卵揚げた「からたま」は推しです。(test)
      =image_tag "uemura10.jpg", class: "pride-image"
      .pride-text
        (test)鶏・豚串は全て『国産』のものを使用しております。特製秘伝の【醤油ダレ】【青唐辛子味噌】につけてお召し上がりいただきます。全卓保温器を設置！いつまでも温かキープ♪大トロ牛もつ焼き串、中落カルビ串は他では味わえません！串以外のメニューも豊富♪チキン南蛮、ホルモン・馬料理、半熟卵揚げた「からたま」は推しです。(test)
      =image_tag "uemura10.jpg", class: "pride-image"
= render "shared/footer"
= render "shared/back-to-top-button"