.map_container{
  width: 100%;
  padding: 0 10vw;
  margin: 10vh 0;
  @media (max-width: 812px) {
    margin: 5vh 0;
  }
  iframe{
    width: 100%;
    @media (max-width: 812px) {
      height: 50vw;
    }
  }
}