.introduction_container{
  width: 80vw;
  margin: auto;
  @media (min-width: 813px) {
    display: flex;
    align-items: center;
  }
  &__image{
    position: relative;
    width: 45vw;
    height: 50vh;
    background-image: url(motuyaki_sozai.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: cover;
    @media (max-width: 812px) {
      display:none
    }
  }
  &__text{
    width: 35vw;
    padding: 15px 0;
    margin: auto;
    @media (max-width: 812px) {
      width: 100%;
    }
    h1{
      text-align: center;
      font-size: 30px;
      margin-bottom: 4vh;
      font-weight: bold;
      @media (max-width: 450px) {
        font-size: 20px;
      }
    }
    .block{
      margin: auto;
      width: 40px;
      border-top: solid 6px black;
      @media (max-width: 812px) {
        display: none;
      }
    }
    h3{
      margin: 0 auto;
      margin-top: 4vh;
      width: 28vw;
      font-size: 17px;
      line-height: 40px;
      @media (max-width: 812px) {
        width: 70vw;
      }
      @media (max-width: 450px) {
        font-size: 13px;
        line-height: 1.5em;
      }
    }
  }
}
.motuyaki_sozai-sd{
  display:none;
  @media (max-width: 812px) {
    display: block;
    width: 80vw;
    text-align: center;
    margin: 10px auto;
  }
}