.top_container{
  width: 100%;
  background-image: url(washi1.png);
  background-size: auto;
  padding-bottom: 30px;
  &__home{
    background-image: url(main_image.jpg);
    background-size: cover;
    background-position: center center;
    height: 55vw;
    @media (max-width: 1000px) {
      height: 70vh;
    }
  }
}
.main_container{
  background-image: url(washi1.png);
  background-size: auto;
  .introduction_container{
    width: 100vw;
    padding: 100px 0;
    @media (min-width: 813px) {
      display: flex;
      align-items: center;
    }
    @media (max-width: 450px) {
      padding: 50px 0;
    }
    &__image{
      position: relative;
      width: 50vw;
      height: 35vw;
      @media (max-width: 812px) {
        display:none
      }
      .inside-image{
        position: absolute;
        top: -150px;
        left: -100px;
        width: 1000px;
        height: auto;
        @media (max-width: 1200px) {
          top: -100px;
          width: 800px;
        }
      }
    }
    &__text{
      width: 50vw;
      padding: 15px;
      margin: auto;
      @media (max-width: 812px) {
        width: 100%;
      }
      h1{
        text-align: center;
        font-size: 40px;
        margin-bottom: 4vh;
        font-weight: bold;
        @media (max-width: 450px) {
          font-size: 20px;
        }
      }
      .block{
        margin: auto;
        width: 40px;
        border-top: solid 6px black;
      }
      h3{
        margin: 0 auto;
        margin-top: 4vh;
        width: 28vw;
        font-size: 17px;
        line-height: 40px;
        @media (max-width: 812px) {
          width: 70vw;
        }
        @media (max-width: 450px) {
          font-size: 13px;
          line-height: 1.5em;
        }
      }
    }
  }

  .video_container{
    height: 55vw;
    width: 100vw;
    position: relative;
    @media (min-width: 451px) {
      padding: 100px 50px 100px 300px ;
    }
    display: flex;
    @media (max-width: 450px) {
      padding: 30px 10px 30px 50px;
    }
    .video-title-text{
      font-size: 50px;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 50px;
      @media (max-width: 600px) {
        font-size: 20px;
        top: -20px;
        left: 30px;
      }
    }
    .video-middle-text{
      position: absolute;
      top: 80px;
      left: 80px;
      h2{
        font-size: 20px;
        background-color: black;
        color: white;
        margin-bottom: 5px;
        padding: 5px 10px;
        @media (max-width: 800px) {
          display: none;
        }
      }
    }
    iframe{
      margin: auto;
      border: 8px solid black;
      @media (max-width: 600px) {
        border: none;
      }
    }
  }

  .notice-container{
    margin: 100px 0 0;
    padding-bottom: 50px;
    .notice-image{
      position: relative;
      height: 120px;
      @media (max-width: 600px) {
        height: 50px;
      }
      .noren-sozai{
        position: absolute;
        width: 600px;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        @media (max-width: 600px) {
          width: 300px;
        }
      }
      .notice-title{
        font-size: 60px;
        font-weight: bold;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        @media (max-width: 600px) {
          font-size: 30px;
        }
      }
    }
    .each-notice{
      background: rgba(255, 255, 255, 0.541);
      padding: 10px;
      width: 90vw;
      margin:  10px auto;
      .notice-date{
        border-bottom: 1px solid black;
        width: 80px;
        @media (max-width: 600px) {
          font-size: 10px;
          width: 50px;
        }
      }
      .notice-title{
        font-size: 20px;
        height: 30px;
        line-height: 30px;
        font-size: bold;
        overflow: hidden;
        @media (max-width: 600px) {
          font-size: 13px;
          height: 20px;
          line-height: 20px;
        }
      }
      .notice-content{
        font-size: 15px;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        @media (max-width: 600px) {
          font-size: 10px;
          height: 12px;
          line-height: 12px;
        }
      }
    }
  }

  .photo_container{
    padding: 100px 0;
    @media (max-width: 600px) {
      padding: 0 0 100px;
    }
    width: 100vw;
    overflow: hidden;
    .photo-title-text{
      font-size: 60px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
      @media (max-width: 600px) {
        font-size: 20px;
      }
    }
  }
}

.back-to-top-button{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.253);
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 20;
  position: fixed;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.384);
  &:hover{
    color: rgba(255, 255, 255, 0.733);
    background-color: rgba(0, 0, 0, 0.425);
  }
}

button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow{
  left: -40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 30px solid #1135638c;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 50;
  &:hover{
    cursor: pointer;
  }
}
.next-arrow{
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 30px solid #1135638c;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 50;
  &:hover{
    cursor: pointer;
  }
}

.sliderArea {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
.sliderArea.w800 {
  max-width: 800px;
}
.slick-slide {
  margin: 0 5px;
}
.slick-slide img {
  width: 100%;
  height: auto;
}
.slick-prev, .slick-next {
  z-index: 1;
}
.slick-prev:before, .slick-next:before {
  color: #000;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: .7;
}

.full-screen .slick-list {
  overflow: visible;
}
.full-screen.slider {
  max-width: 800px;
  margin: 0 auto;
}