.top_container{
  width: 100%;
  background-image: url(washi1.png);
  background-size: auto;
  padding-bottom: 30px;
}
.page-title{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0;
  width: 400px;
  margin: auto;
  @media (max-width: 550px) {
    font-size: 30px;
    width: 250px;
  }
  &__home{
    padding-top: 50px;
  }
}
.fude-sen{
  display: block;
  text-align: center;
  width: 150px;
  margin: 10px auto 70px;
  @media (max-width: 550px) {
    width: 80px;
    margin: 5px auto 40px;
  }
}


.image-wrapper{
  width: 450px;
  height: 450px;
  overflow: hidden;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
  padding: 20px 0;
  @media (max-width: 500px) {
    line-height: 18px;
    width: 70vw;
    height: 70vw;
  }
  img{
    height: 100%;
  }
}

.paper-background{
  margin: 0 10vw;
  padding: 5vh 0;
  background-image: url(p0074_l.jpg);
  background-size: cover;
  box-shadow: 0 2px 10px rgba(50, 50, 50, 0.17);
  @media (max-width: 1000px) {
    margin: 0 3vw;
  }
  @media (max-width: 450px) {
    font-size: 20px;
    line-height: 1.2em;
    padding: 2vh 0;
  }
}

.details-container{
  width: 100%;
  margin-top: 5vh;
  text-align: center;
  @media (max-width: 450px) {
    margin-top: 2vh;
  }
  .shop-detail{
    text-align: center;
    font-size: 20px;
    font-family: 'Georgia';
    line-height: 40px;
    @media (max-width: 500px) {
      font-size: 13px;
      line-height: 25px;
    }
    &__distance{
      font-size: 17px;
      line-height: 30px;
      @media (max-width: 500px) {
        font-size: 15px;
        line-height: 30px;
      }
    }
    &__number{
      font-size: 40px;
      line-height: 65px;
      @media (max-width: 500px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  &__button{
    background-color: #1e1b41;
    width: 150px;
    line-height: 30px;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    a{
      color: white;
    }
  }
}