
.introduction_container{
  width: 100vw;
  @media (min-width: 813px) {
    display: flex;
    align-items: center;
  }
  &__image{
    position: relative;
    width: 50vw;
    height: 35vw;
    @media (max-width: 812px) {
      display:none
    }
    .inside-image{
      position: absolute;
      top: -150px;
      left: -100px;
      width: 1000px;
      height: auto;
      @media (max-width: 1200px) {
        top: -100px;
        width: 800px;
      }
    }
  }
  &__text{
    width: 50vw;
    padding: 15px;
    margin: auto;
    @media (max-width: 812px) {
      width: 100%;
    }
    h1{
      text-align: center;
      font-size: 40px;
      margin-bottom: 4vh;
      font-weight: bold;
      @media (max-width: 450px) {
        font-size: 20px;
      }
    }
    .block{
      margin: auto;
      width: 40px;
      border-top: solid 6px black;
    }
    h3{
      margin: 0 auto;
      margin-top: 4vh;
      width: 28vw;
      font-size: 17px;
      line-height: 40px;
      @media (max-width: 812px) {
        width: 70vw;
      }
      @media (max-width: 450px) {
        font-size: 13px;
        line-height: 1.5em;
      }
    }
  }
}