.order{
  width: 100vw;
  &--title{
    font-size: 60px;
    text-align: center;
    margin: 50px;
  }
  &__menus{
    margin:  0 auto;
    .menus_title{
      width: 90%;
      margin: 20px 0 20px 50px;
      font-size: 30px;
      border-bottom: 3px black solid;
      cursor: pointer;
    }
    .menu_field{
      .menu_area{
        margin: 0 auto;
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        .menu{
          border: 1px black solid;
          border-radius: 10px;
          width: 40%;
          margin: 5px 5% 30px 5%;
          display: flex;
          flex-direction: column;
          &__select{
            display: flex;
          }
        }
      }
    }
  }
  .info_title{
    width: 90%;
    margin: 20px 0 20px 50px;
    font-size: 30px;
    border-bottom: 3px black solid;
  }
  
}